$font-MulishD: "Mulish",
default;
$font-MulishC: "Mulish",
cursive;
$font-MulishB: "Mulish",
bold;
$font-MulishBB: "Mulish",
bolder;
$color-background: #C0C0C0;
$color-primary: #00A6ED;
$color-yellow: #FFB400;
$color-orange: #F6511D;
$color-vermilon: #E3170A;